
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom CSS
@import 'custom';

* {
  font-family: 'Playfair Display', serif;
}

body {
  background-color: white;
}

#root {
  color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  // height: 100%;
}

#logo_header {
  font-size: 30px;
  font-weight: bold;
  color: black;
  position: static;
  margin-bottom: 40px;
}

// NavBar
.linkLarge {
  color: $brand-grey;
  margin-right: 30px;
}

#signUp_btn {
  background-color: $brand-blue;
  // border-radius: 5px;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

// Categories

.btnCategory {
  border: none;
  background: none;
  font-size:15px;
  vertical-align: middle;
  color: $brand-grey;
}

.catContainer {
  margin: 100px, 0px, 30px, 0px;
}

p.categoryText:hover {
  color: $brand-primary;
}

//
.roundAvatar {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}

.alert_success {
  color: $brand-dark-grey;
  background-color: $brand-blue;
  padding: 20px;
}

.alert_danger {
  color: $brand-blue;
  background-color: $brand-dark-grey;
  padding: 20px;
}

// button, input[type="submit"], input[type="reset"] {
//     background: none;
//     color: inherit;
//     border: none;
//     padding: 0;
//     font: inherit;
//     cursor: pointer;
//     outline: inherit;
// }

.btnNoCss {
  background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
}
.imgLarge {
  width: 100%;
}
.imgGit {
  width: 40px;
  opacity: 0.7;
}

.imgPara {
  width: 20px;
}

.iconSmall {
  width: 40px;
}

.iconMedium {
  width: 80px;

}

// Home Page Bootstrap Pinterest-like grid
.row1{
  /* column width */
  -moz-column-width: 19em;
  -webkit-column-width: 19em;

  /* space between columns */
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.item {
  display: inline-block;
  max-width: 100%;
  background-color: $brand-white;
}


// ?
.containerIndex{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerPosts{
  padding: 5vh 0 0 0;
}

.post_text{
  font-size: 19px
}


.panel-default {
  margin-top: 10vh;
  padding: 0;
}

.containerEditDelete{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.containerHeaderBtn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


#header {
  background:$brand-white;
  padding:10px;
}

footer {
  height: 5vh;
  background-color: $brand-greyL;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1.2vh;
}

.containerUsers {
  display: flex;
  justify-content: flex-start;
}

.containerEditProfile {
  margin-top: 9vh;
  margin-bottom: 8vh;
}

.containerEditProfile2 {
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.mainDivStyle {
  display: flex;
  flex-direction: row;
}

.divStyle {
  justify-content: flex-start;
  width: 35%;
  padding: 20px;
  margin: 30px;
}
