
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom CSS
@import 'custom';


#app {
  background-color: $brand-white;
  color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.imgGit {
  width: 40px;
  opacity: 0.7;
}

.imgPara {
  width: 20px;
}

// Home Page Bootstrap Pinterest-like grid
.row1{
  /* column width */
  -moz-column-width: 19em;
  -webkit-column-width: 19em;

  /* space between columns */
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.item {
  display: inline-block;
  width: 100%;
  background-color: $brand-white;
}


// ?
.containerIndex{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerPosts{
  padding: 5vh 0 0 0;
}


.panel-default {
  margin-top: 10vh;
  padding: 0;
}

.containerEditDelete{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.containerHeaderBtn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.editBtn{
  margin: 5px;
}
#header {
  background:$brand-white;
  padding:10px;
}


footer {
  height: 10vh;
  background-color: $brand-greyL;
}

.footerContainer {
  display: flex;
  flex-direction: column;

}

.row2 {
  padding-top: 20px;
}